# 开发配置-公司环境
logging:
  config: classpath:conf/logback-dev.xml
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
    shutdown:
      enabled: true
server:
  port: 8885
  http2:
    enabled: true
  undertow:
    io-threads: 16
    worker-threads: 256
    buffer-size: 1024
    direct-buffers: true
spring:
  servlet:
    multipart:
      max-file-size: 500MB # 最大附件大小
      max-request-size: 500MB
  main:
    allow-bean-definition-overriding: true
  mvc:
    static-path-pattern: /static/**
  redis:
    host: 127.0.0.1
    password:
    port: 6379
    lettuce:
      shutdown-timeout: 100
      pool:
        max-active: 8
        max-idle: 8
        max-wait: 30
        min-idle: 0
  datasource:
    name: caas
    url: jdbc:mysql://127.0.0.1:3306/caas?characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      filters: stat
      max-active: 200
      initial-size: 1
      max-wait: 60000
      min-idle: 1
      time-between-eviction-runs-millis: 60000
      min-evictableIdle-time-millis: 300000
      validation-query: select 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.github.pettyfer.caas.framework.biz
  global-config:
    banner: false
    db-config:
      capital-mode: false
      id-type: ASSIGN_ID
      logic-delete-value: 'null'
      logic-not-delete-value: 0
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
    call-setters-on-nulls: true
kubernetes:
  client:
    master-url: ENC('C5RmVP5CbuPGoaJ/7AT1q50iFO++Fb7vq+ORiEUKCqwI71HwoGbyZA==')
    token: ENC('RQMYQAZk7YXeDs+NtDLk5b79wQhmma/5KUmF8bTbHM+clzDtLQUWpGpQYGjrhd/jyVQA3N0VaLSSuGF8rnRb2lO/guJWrISX63c8lus/MrPWXnizKPydajxK75Xx3tXwSGitkRI49FwZV3YzWQtWiVq2kh8JPZ03MlO0OqU7LMg5FAavaj5Vaq6vREaQh//pD6WueUjRDF/l7F7F/qAJipL+/j3ibfwBlO+spGrEW6htZ477y6jJ7CA6/rXhF6oPKDqayTBforufDoaco5JBn+dePJ4FUHfv/iKvtWpu4uH75ErPGXqSeAllD58yUIV8ncoJbAv8k5uuz5zld+t30kJyaOgcK3s0NvsBsIp/7IB8r4VftzTn8X+JIkq6GYR0VYfgmdFs6F6Mxl2jMlTJ5b/xyYGA8HjIGgLKatWjEYvgt6qQuzdLGI+PP+SW1Im0UTaXrwwSnmWvm2OIyFvPw8+CNpSGVOc/ToGHtyifb85OiLX91Wku6TFCPxHOuHIu7FUMTsekC5EqSgrYDZvF3PUt6lBKVYzu3y2+WeSKhes31Xv15jLL8dffWAdR/DLK1hyk/xvlFXihUmjN83Vac+umlEh4saBQg8nQ7guhWqqxJyvc3CDsVbil5uKGz615ujJrYbUiV1wZ/6u6Fj9+Z/U6T1SROU+9qanScxeNCKTGSf0fohbeV2b//4zi1JOnSdVmDEFoMCOcHdDlg/L0E5H/Irh+xw39RIb+RvQGoRIcA9B8z/U2KzM+ylhsKGihldTtPBjk86Sod5LRsnwYo7Uvj1YWLSX5uly+LxldBsgdpCUh8/kVnpsy21xU7Tfm3NEp7Kf29btVSeDybzlAG3EZ2zmNPNYo2ZEpFie/ZoBb3nTCfjEtDAXRHxZYxdo6B1yHuexEvQ7YXJYOHpS/45xNGE5SV1tQNYrog94O8njvtLNC0NmzlvNvLxD0saVZc8o4SKIAuPtwn5n+udeClUL7kJ5O4koN9jfdAloaBktUxmk7H0sJAKb58I3b9a03hB+UMpFeAktKLcEhz/YM9J/YqtuIM5XOCv8q3diq0tpM5uCQSxbV0cLWn576e1dMEMAfvDhPYvG3dnYAd6tx3aE5He1xL2/8zdUTmO1DS8hcywWEvufVvC6urzXowXwFVC4ZL8qNZdsmXASJ2Zo0xnHG/dX0IT8jJY/9D+i+S0Owck6tkBTwsY7tqkooRqAU23gbbPssrKpUiOlVAva8hym8+tDb5b8L')
    cert: certs/centos/ca.crt
attachment:
  local:
    name: user-center-local
    root: D:\\attachment\\
build:
  images:
    svn-pull: 192.168.13.61/tools/build-subversion-tool:1.0.0
    git-pull: 192.168.13.61/tools/build-git-tool:1.0.0
    sql-build: 192.168.13.61/tools/build-sql-tool:1.0.0
    persistence: 192.168.13.61/tools/build-persistence-tool:1.0.0
    maven-build: 192.168.13.61/tools/build-maven-tool:1.0.0
    nodejs-build: 192.168.13.61/tools/build-nodejs-tool:1.0.0
    docker-build: 192.168.13.61/tools/build-docker-tool:1.0.0
    notification: 192.168.13.61/tools/build-notification-tool:1.0.0