# 开发配置-本地环境
logging:
  config: classpath:conf/logback-dev.xml
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: ALWAYS
    shutdown:
      enabled: true
server:
  port: 8885
  http2:
    enabled: true
  undertow:
    io-threads: 16
    worker-threads: 256
    buffer-size: 1024
    direct-buffers: true
spring:
  servlet:
    multipart:
      max-file-size: 10MB # 最大附件大小
      max-request-size: 10MB
  main:
    allow-bean-definition-overriding: true
  mvc:
    static-path-pattern: /static/**
  redis:
    host: 127.0.0.1
    password:
    port: 6379
    lettuce:
      shutdown-timeout: 100
      pool:
        max-active: 8
        max-idle: 8
        max-wait: 30
        min-idle: 0
  datasource:
    name: caas
    url: jdbc:mysql://127.0.0.1:3306/caas?characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: root
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    druid:
      filters: stat
      max-active: 200
      initial-size: 1
      max-wait: 60000
      min-idle: 1
      time-between-eviction-runs-millis: 60000
      min-evictableIdle-time-millis: 300000
      validation-query: select 'x'
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      pool-prepared-statements: true
      max-open-prepared-statements: 20
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*Mapper.xml
  #实体扫描，多个package用逗号或者分号分隔
  typeAliasesPackage: com.github.pettyfer.caas.framework.biz
  global-config:
    banner: false
    db-config:
      capital-mode: false
      id-type: ASSIGN_ID
      logic-delete-value: 1
      logic-not-delete-value: 0
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: true
    call-setters-on-nulls: true
kubernetes:
  client:
    master-url: ENC('Z8XGTshdDEsspR8jfD30IaCuFAQ4329GhG4vO8Uq1lI=')
    token: ENC('eexqek/hMCh82xhuV9JCA1YsbSazf7DEn4Wk+3MyCDK81yKA6wJGFkgnAw+aKWU+/lnwSxMV7PHqc8n9EVu7svcyXdJOsHas7+m80SOvINF9JVff5JmWYIfZw6Y9YUniB01M1sNIBcnJwfI1Cj6caDvMtUgfoQkgcnjA0jWyepr5ARbkwlpbiASW3ECeVmtifXmwtvUrwHKS2gpkUs7/hxosItt24qobErQjtSoOEDEOQ7ZsDHzGf1nRUTULf39Sg2Vc7XOYaB2pwrWbFl4vr30RwOtJjw09oY/9It44LkJiNxt10Rqx6nee0odbTRsYjQVeCBf+ef5XAtnWSO5O0O4vTvH1x/NpC4UWBkgDdjd6uMAFUxY2Yu/rDVhpm0TbW2jJq0VtCIfJhXTarTOcLROggojmN/F2m7MW3o2rMsAVJ3iAykVEOX/8DtEEl2mwqIkeZfMyzC5EkjfRw+wH/K2+3xsQvLCgmrCYJmUIvBGU+eg3SVItcFhaTHEIdbibZN9FiXiG34EGmiwZXF/ym3YZqCelA+xrFJAHrZwasy+6jz7NzDmxlfD3TrWs/4CzlWFyYFYasTwkOxpU6WTiXCTU5q3DywvO5Rkr2mNjstJfHF0iV8H7u3Hhjq+PXuRdMImjR8bH9fFPtSDIM+wO3XAtyJL4tLmbv34puualrovj8mr04teJpUXAO0XFUvBmRPQidmGGoDhNzjE3OSE/S8KBhJN6S2oZrLSFD7/VbRrdX9LCAbZnzfJkIBlXMHyxpLyRdD3jnFlbCbKfrE7rktyqJXiHXQrV/1Wggg/LYlSojoittujVUE06EL/rZm0yv32NZRxeJGIlHJS1/hJ10cUPUS2qj5eXhpkeN0E6hMq/iCmJug+lGDfh6k5JREy2wUJistrldtgDZyqTBTbRbBUNsX+ZR6qOB/D0IXWW4K5+uNTUg1NsR5mRphKdjIHuYwvFS9NMqx7YGd2F9Jwcd2VYXeORgMTGnqukz0oo+f9UKKJNkpR+COI27Tr2S/kSeOV2iVNBxdK92I921iDVwCI9R/lSnVaRp3fe8Ga26UBxk7ImHBoFXgRs2K0H/05dgCXkmFYM8DFFr9KYWI3hx63Lt0qHpiAb75nVL2Z5kXu0d1g0hDQcLqzqIHWx6thNhBX1bQSc8xxIH6/f8BTX1rYuYVpOw5kIsc8n+RQWNMMRp9UtrjjOv+lpHbk1r2eoI6klzdoA9Co=')
build:
  images:
    svn-pull: pettyfer/build-subversion-tool:1.0.0
    git-pull: pettyfer/build-git-tool:1.0.0
    sql-build: pettyfer/build-sql-tool:1.0.0
    persistence: pettyfer/build-persistence-tool:1.0.0
    maven-build: pettyfer/build-maven-tool:1.0.0
    nodejs-build: pettyfer/build-nodejs-tool:1.0.0
    docker-build: pettyfer/build-docker-tool:1.0.0
    notification: pettyfer/build-notification-tool:1.0.0